PORT=3003
JWT_SECRET=bookstore-super-secret-key-change-in-prod
INTERNAL_API_KEY=internal-service-key-change-in-prod
BOOK_SERVICE_URL=http://book-service:3002
NOTIFICATION_SERVICE_URL=http://notification-service:3004
ALLOWED_ORIGINS=http://localhost:3000
